/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


body {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #2E2F42;

}

/* ---- GALLERY ---- */

/* ---- SEARCH ---- */

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form-input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;

  font-size: 16px;
  font-weight: 400;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #000000;
}

.form-btn {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color:#4E75FF;
  border: 1px solid #4E75FF;

  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.form-btn:hover,
.form-btn:focus {
  background-color:#6C8CFF;
}

/* ---- CARDS ---- */
.gallery {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-list-item {
  width: 360px;
  border: 1px solid #808080;
}


.gallery-img {
  margin: auto;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.sub-list {
  display: flex;
  width: 360px;
}

.sub-list-item {
  margin: auto;
  text-align: center;
}